<div class="container">
  <header class="d-flex justify-content-center py-3 border-bottom">
    <div class="d-flex justify-content-between w-100">
      <div class="d-flex">
        <div class="nav-item"><%= link_to "Home", root_path, :class => class_names('nav-link mx-2', { active: current_page?(root_path) }) %></div>
        <div class="nav-item"><%= link_to "Persos", characters_path, :class => class_names('nav-link mx-2', { active: current_page?(characters_path) }) %></div>
        <div class="nav-item"><%= link_to "Donjons", dungeons_path, :class => class_names('nav-link mx-2', { active: current_page?(dungeons_path) }) %></div>
      </div>
      <div>
        <% if user_signed_in? %>
          <div class="nav-item"><%= button_to "Déconnexion", destroy_user_session_path, method: :delete %></div>
        <% end %>
      </div>
    </ul>
  </header>
</div>