<h1 class="display-5 text-center fw-bold text-body-emphasis">Ceci est la FUCKING HOME PAGE</h1>
<div class="container text-center">
  <p>Bienviendu</p>
  <%= link_to "Persos", characters_path %>
  <%= link_to "Donjons", dungeons_path %>
</div>