<h1 class="display-5 text-center fw-bold text-body-emphasis">Future page de connextion</h1>
<div class="container text-center">
  <p>Bienviendu</p>
  <%= link_to "Persos", characters_path %>
  <%= link_to "Donjons", dungeons_path %>

  <div class="container">
    <p>Juste une appli où tu pourras lister tes personnages, les classer en fonction de leur niveau, savoir combien de coffres tu vas avoir à la fin du mois... Enfin bref. Apparemment c'est un "TRELLO" pour Wakfu. Vu que tu peux organiser des trucs. Mais c'est que pour les donjons ! Hein, voilà. Des bisous et enjoy hein.</p>
  </div>
</div>