<h1>Coucou, bienvenue dans l'index des persos</h1>
<table>
    <tr>
      <th>Nom du perso</th>
      <th>Niveau</th>
      <th>Total coffres</th>
    </tr>
    <% @characters.each_with_index do |character, index| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.level %></td>
      <td><%= @recompenses[index] %></td>
    </tr>
    <% end %>
</table>
<%= link_to "+ Nouveau personnage", new_character_path %>
